modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.dev"

[workflows.workflow.tasks.preview]
port = 3001

[deployment]
run = ["sh", "-c", "npm run replit"]
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 3001
externalPort = 80